.topnav {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    font-family: sans-serif;
    display: block;
    color: #190357;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    position: relative;
}

.topnav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #190357;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.topnav a:hover:after {
    width: 100%;
    left: 0;
}

.open-side {
    display: none;
}

.mobile-header {
    display: none;
}

.sidenav {
    display: none;
    height: 100%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.home-slides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.dot:active {
    background-color: #000;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.topnav a.active {
    color: #df8013;
}

.topnav a.active:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #df8013;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.topnav a.active:hover:after {
    width: 100%;
    left: 0;
}

.main-swiper {
    background-color: #190357;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .topnav {
        display: none;
    }
    .sidenav {
        display: block;
    }
    .open-side {
        display: block;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 20px 0px 20px 25px;
        color: #df8013;
    }
    .mobile-header {
        display: block;
        flex-direction: row;
        background-color: #fff;
    }
    .top-logo {
        display: none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-logo {
    text-align: center;
    background-color: #ffffff;
}